{% extends "main/layout.html" %}

{%block content%}


{% include "main/includes/category-navbar.html" %}

<div class="row container">
    {% for c in categories %}
        <div class="col s12 m4 l3">
            <a href="{{c.slug}}/">
                <div class="card blue-grey darken-1">
                <div class="card-content white-text hoverable">
                    <span class="card-title">{{ c.title }}</span>

                    {% if c.synopsis != None %}
                         <p class="truncate">
                            {{ c.synopsis | safe }}
                        </p>
                    {% else %}
                    <p>
                        {{ c.content | safe }}
                    </p>
                    {% endif %}
                    </div>
            </div>
            </a>

        </div>
    {% endfor %}
</div>
{%endblock%}