{% extends "main/layout.html" %}

{%block content%}

{% include "main/includes/category-navbar.html" %}

<div class="row container">

    <div class="col s12 m9">
        <h1 class="header">{{ content.title }}</h1>
        <div class="divider"></div>
        {{ content.content | safe }}
        <div class="divider"></div>
        <div class="right">
            <p>{{content.published}}</p>
        </div>
    </div>

    <div class="col m3 l3 right hide-on-small-and-down">
        <div class="collection">
            {% for c in categories %}
                {% if c.title == content.title %}
                <a href="../{{c.slug}}/" class="collection-item active">
                    {{ c.title }}
                </a>
                {%else%}
                <a href="../{{c.slug}}/" class="collection-item">
                    {{ c.title }}
                </a>
                {%endif%}
            {% endfor %}
        </div>
    </div>

</div>


<script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });

</script>
{%endblock%}