{% extends "main/layout.html" %}

{% load static %}

{%block content%}

<div class="parallax-container">
  <div class="parallax"><img src="{% static 'main/images/cat.png' %}" ></div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">Thicc title</h2>
    <p class="grey-text text-darken-3 lighten-3">spam is food.</p>
    <p class="grey-text text-darken-3 lighten-3">used in hawaiian dishes.</p>
    <p class="grey-text text-darken-3 lighten-3">this will contain</p>
    <p class="grey-text text-darken-3 lighten-3">nice amount of </p>
    <p class="grey-text text-darken-3 lighten-3">text.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="{% static 'main/images/bongocat.jpg' %}"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, 0);
  });
</script>
{%endblock%}



