{% extends "main/layout.html" %}

{% load static %}

{%block content%}

<div class="parallax-container">

    <div class="parallax"><img class="" src="{% static 'main/images/mona-finden-mrsuicidesheep3.jpg' %}" ></div>
</div>

<div class="container">
<div class="section white">
  <div class="row container">
      <h2 class="header">Prinny</h2>
      <div class="divider"></div>
    </div>

    <div class="row container valign-wrapper">
      <div class="col s12 m8 l8 left">
        <p class="grey-text text-darken-3 lighten-3">
          A prinny is a small, usually blue, pouch-wearing penguin-like creature with disproportionately small bat wings,
          two peg legs where feet would normally be, and stitches at the top of the chest. When thrown, they explode on impact.
        </p>
      </div>
      <div class="col m4 l4 right hide-on-small-and-down">
        <img class="responsive-img" src="{% static 'main/images/prinny.jpg' %}" />
      </div>
    </div>

    <div class="row container valign-wrapper">
      <div class="col m4 l4 left hide-on-small-and-down">
        <img class="responsive-img" src="{% static 'main/images/prinny6.png' %}" />
      </div>
      <div class="col s12 m8 l8 right">
          <p class="grey-text text-darken-3 lighten-3">
              A common trait of prinnies is their upbeat attitude and tendency to end their sentences with "-ssu".
              In the English translation, they frequently use "dood" as an interjection.
          </p>
      </div>
    </div>

    <div class="row container valign-wrapper">
      <div class="col s12 m8 l8 left">
          <p class="grey-text text-darken-3 lighten-3">
              Prinnies stand roughly three feet, three inches (100 cm) tall, though the weight can vary.
              Prinnies attack with knives, bombs, and occasionally other weapons stored in their bags.
          </p>
      </div>
      <div class="col m4 l4 right hide-on-small-and-down">
        <img class="responsive-img" src="{% static 'main/images/prinny2.jpg' %}" />
      </div>
    </div>
</div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="{% static 'main/images/mona-finden-dragonslayer.jpg' %}"></div>
</div>

{% include "main/includes/tech-stack.html" %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, 0);
  });
</script>
{%endblock%}



