{% extends "main/layout.html" %}

{% load static %}

{%block content%}

<div class="parallax-container">

    <div class="parallax"><img class="" src="{% static 'main/images/mona-finden-mrsuicidesheep3.jpg' %}" ></div>
</div>

<div class="container">
<div class="section white">
  <div class="row container">
      <h2 class="header">Prinny</h2>
      <div class="divider"></div>
    </div>

    <div class="row container valign-wrapper">
      <div class="col s12 m8 l8 left">
        <p class="grey-text text-darken-3 lighten-3">
          A prinny is a small, usually blue, pouch-wearing penguin-like creature with disproportionately small bat wings,
          two peg legs where feet would normally be, and stitches at the top of the chest. When thrown, they explode on impact.
        </p>
      </div>
      <div class="col m4 l4 right hide-on-small-and-down">
        <img class="responsive-img" src="{% static 'main/images/prinny.jpg' %}" />
      </div>
    </div>

    <div class="row container valign-wrapper">
      <div class="col m4 l4 left hide-on-small-and-down">
        <img class="responsive-img" src="{% static 'main/images/prinny6.png' %}" />
      </div>
      <div class="col s12 m8 l8 right">
          <p class="grey-text text-darken-3 lighten-3">
              A common trait of prinnies is their upbeat attitude and tendency to end their sentences with "-ssu".
              In the English translation, they frequently use "dood" as an interjection.
          </p>
      </div>
    </div>

    <div class="row container valign-wrapper">
      <div class="col s12 m8 l8 left">
          <p class="grey-text text-darken-3 lighten-3">
              Prinnies stand roughly three feet, three inches (100 cm) tall, though the weight can vary.
              Prinnies attack with knives, bombs, and occasionally other weapons stored in their bags.
          </p>
      </div>
      <div class="col m4 l4 right hide-on-small-and-down">
        <img class="responsive-img" src="{% static 'main/images/prinny2.jpg' %}" />
      </div>
    </div>
</div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="{% static 'main/images/mona-finden-dragonslayer.jpg' %}"></div>
</div>

<div class="container">
    <div class="section white">
      <div class="row container">
          <h2 class="header">Dev Stack</h2>
          <div class="divider"></div>
        </div>

        <div class="row container valign-wrapper">
            <div class="col s4 m4 l4">
                 <img class="responsive-img" src="{% static 'main/images/home/scala.png' %}" />
            </div>
            <div class="col s4 m4 l4">
                 <img class="responsive-img" src="{% static 'main/images/home/python.png' %}" />
            </div>
            <div class="col s4 m4 l4">
                 <img class="responsive-img" src="{% static 'main/images/home/java.png' %}" />
            </div>
        </div>

        <div class="row container valign-wrapper">
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/beam.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/keras.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/tensorflow.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/spark.png' %}" />
            </div>
        </div>

        <div class="row container valign-wrapper">
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/pandas.png' %}" />
            </div>
            <div class="col  s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home//google-cloud.png' %}" />
            </div>
            <div class="col  s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/kafka.png' %}" />
            </div>
            <div class="col  s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/numpy.png' %}" />
            </div>

        </div>

        <div class="row container valign-wrapper">
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/hadoop.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/github.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/django.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/hbase.png' %}" />
            </div>
        </div>
        <div class="row container">
            <div class="col s4 m4 l4 push-s4 push-m4 push-l4">
                 <img class="responsive-img" src="{% static 'main/images/home/google-data-engineer.png' %}" />
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, 0);
  });
</script>
{%endblock%}



