{% load static %}

{%include "main/includes/header.html"%}

<body>
<div class="container">
    <div class="video=container">
<iframe  src="//www.youtube.com/embed/ZSzGIXYuE1I" width="400" height="300" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            <div class="col m3 l3 right">
        <div class="collection">

            <p>asdsadsaf</p>
            <p>asdsadsaf</p>
            <p>asdsadsaf</p>
            <p>asdsadsaf</p>
            <p>asdsadsaf</p>
            <p>asdsadsaf</p>
            <p>asdsadsaf</p>
            <p>asdsadsaf</p>



        </div>
    </div>
</div>

</div>




</body>

<script>
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });
</script>


<script src="{% static 'tinymce/js/prism.js' %}"> </script>