{% load static %}

{%include "main/includes/header.html"%}

<body>
{%include "main/includes/messages.html"%}
<!--<button onclick="getOutput()">Click me</button>-->

<!--<img id="img" src="{% static 'main/images/cat.png' %}">-->

<!--<p id="info"></p>-->

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button class="btn" type="submit">register</button>
</form>

</body>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.1"> </script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/mobilenet@1.0.0"> </script>

<script src="{% static 'tinymce/js/prism.js' %}"> </script>

<script>
  // Notice there is no 'import' statement. 'mobilenet' and 'tf' is
  // available on the index-page because of the script tag above.
function getOutput(event) {
      const img = document.getElementById('img');
      mobilenet.load().then(model => {
        // Classify the image.
        model.classify(img).then(predictions => {
        var text = document.createTextNode(predictions[0]["className"]);
        console.log(predictions)
        document.getElementById("info").appendChild(text);

        });
      });
  }

</script>