<br>
<div class="row container">
    <div class="col s12">
       <ul class="tabs">
           {% for slug, value in href.items %}
          <li class="tab left-align"><a href="{{value}}" >{{slug}}</a></li>
          {% endfor %}
       </ul>
    </div>
</div>


<!--<div class="row container">-->

<!--   {%for slug, value in href.items %}-->
<!--   <div class="col">-->
<!--    <h6><a href="{{value}}" class="red-text text-lighten-2">{{slug}}</a></h6>-->
<!--   </div>-->
<!--  {% endfor %}-->

<!--</div>-->