<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About</h5>
        <p class="grey-text text-lighten-4">This website literally created to flex on the haters.</p>
        <p class="grey-text text-lighten-4">Built on Django framework.</p>
        <p class="grey-text text-lighten-4">Hosted on Google Cloud.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/jacky-banh/">Linkedin</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/Jacky56">GitHub</a></li>
          <li><a class="grey-text text-lighten-3" href="https://leetcode.com/jacky56/">LeetCode</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.researchgate.net/profile/Jacky_Banh">Research Gate</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Created by Jacky Banh Ha
    <a class="grey-text text-lighten-4 right" href="https://github.com/Jacky56">GitHub</a>
    </div>
  </div>
</footer>