<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">its me, wario</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/category">tutorials</a></li>
          {% if user.is_authenticated %}
            <li>
              <a href="/profile">
                {{user.username}}</a>
            </li>
            <li><a href="/logout">logout</a></li>
          {% else %}
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
          {% endif %}
          <li><a href="/tomkat">deadly amalgamation</a></li>
      </ul>
    </div>

</nav>


