{% load static %}

<div class="container">
    <div class="section white">
      <div class="row container">
          <h3 class="header">Tech Stack</h3>
          <div class="divider"></div>
        </div>

        <div class="row container valign-wrapper">
            <div class="col s4 m4 l4">
                 <img class="responsive-img" src="{% static 'main/images/home/scala.png' %}" />
            </div>
            <div class="col s4 m4 l4">
                 <img class="responsive-img" src="{% static 'main/images/home/python.png' %}" />
            </div>
            <div class="col s4 m4 l4">
                 <img class="responsive-img" src="{% static 'main/images/home/java.png' %}" />
            </div>
        </div>

        <div class="row container valign-wrapper">
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/beam.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/keras.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/tensorflow.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/spark.png' %}" />
            </div>
        </div>

        <div class="row container valign-wrapper">
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/pandas.png' %}" />
            </div>
            <div class="col  s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home//google-cloud.png' %}" />
            </div>
            <div class="col  s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/kafka.png' %}" />
            </div>
            <div class="col  s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/numpy.png' %}" />
            </div>

        </div>

        <div class="row container valign-wrapper">
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/hadoop.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/github.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/django.png' %}" />
            </div>
            <div class="col s3 m3 l3">
                 <img class="responsive-img" src="{% static 'main/images/home/hbase.png' %}" />
            </div>
        </div>
        <div class="row container">
            <div class="col s4 m4 l4 push-s4 push-m4 push-l4">
                 <img class="responsive-img" src="{% static 'main/images/home/google-data-engineer.png' %}" />
            </div>
        </div>
    </div>
</div>